@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(87, 87, 87);
    --logo-color: rgb(240, 4, 94);
}

body {
    font-family: 'roboto', serif;
    height: 500px;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;

    height: 30%;
    font-size: 16px;
    color: var(--logo-color);
}

header h1 {
    padding-bottom: 14px;

    font-size: 38px;
    font-weight: bold;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    height: 50%;

    /* background-color: brown; */
}

form {
    color: var(--text-color);
}

form button {
    background-color: var(--logo-color);
    border: none;
    border-radius: 4px;
    padding: 6px;
    margin: 10px;

    font-weight: bold;
    color: var(--bg-color);
}

