* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans';
}

:root {
    --main-color: #F2F2F2;
    --bg-color: #FFFFFF;
    --bg-button: #252525;
    --text-color: #252525;
}

body {
    background-color: var(--bg-color);
}

main {
    background-color: var(--main-color);
    display: flex;
}

#main-interactive {
    text-align: center;
    width: 50%;
}

#main-interactive button{
    background-color: var(--bg-button);
    color: white;
    border-bottom-style: none;
    border-radius: 10px;
}